* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    text-align: center;
    padding: 14px 12px;
}

a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.sign-in {
    color: #fff;
    border: 1px solid transparent;
    padding: 9px 25px;
    background-color: rgb(26, 115, 232);
    border-radius: 5px;
    border: 1px solid transparent;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-wrap {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-wrap-results {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 35px;
    position: relative;
}

.search-bar {
    width: 550px;
    height: 45px;
    padding-left: 50px;
    font-size: 20px;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
}

.search-bar:hover {
    box-shadow: 1px 1px 3px 1px rgba(201, 201, 201, 0.5);
}

.search-bar:focus {
    outline: none;
}

.search {
    width: 15px;
    position: absolute;
    top: 18px;
    left: 18px;
}

.mic {
    width: 15px;
    position: absolute;
    top: 12px;
    left: 520px;
}

.buttons {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button {
    border: 1px solid transparent;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.button:hover {
    border: 1px solid #eee;
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}

.leaf {
    width: 12px;
}

footer {
    font-family: arial, sans-serif;
    width: 100%;
    background-color: #f2f2f2;
}
.panel1 {
    border-bottom: 1px solid #ddd;
    padding: 15px;    
}

/* .panel2 {
    text-align: center;
    padding: 15px
} */

.panel2 {
    border-bottom: 1px solid #ddd;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px
}

.results{
    height: 800vh;
    display: flex;
    margin-left: 50px;
    /* justify-content: ; */
}

#results-heading{
    font-size: 2rem;
    margin-left: 50px;
}

#results-content {
    margin-top: 30px;
    font-size: 1.5rem;
    margin-right: 100px;
}
